.container {
    flex: 1;
    justify-content: center;
    align-items: center;
  }
  .blue {
    background: blue;
    font-size: 30px;
  }
  .whitetext{
    color: #fff;
  }
  .whiteblack{
    color: #000;
  }
  .black {
    background: #000;
    font-size: 30px;
  }
  .green{
    background: #0f0;
  }
  .Red {
    background: #F00;
    font-size: 30px;
  }
  .White {
    color: #000;
    background: #FFF;
    font-size: 30px;
  }
  
 